
<h2>Welcome to Fitness Community</h2>
<div class="jumbotron">
    <a asp-controller="WeightLog" asp-action="CreateWeightLog">Here</a> you can start logging your daily weight
    <h4>
        If you already have logs you can see them in <a asp-controller="Table" asp-action="Index">table format</a>
        or visualise them on <a asp-controller="Chart" asp-action="Index">chart</a>
    </h4>
</div>
