@model ChartViewModel
@{
    ViewBag.Data = Json.Serialize(ViewBag.WeightLogs);
}
<div class="row">
    <form asp-action="Index" method="post">
        <div class="col-sm-4">
            <label asp-for="StartingDate"></label>
            <input asp-for="StartingDate" />
            <span asp-validation-for="StartingDate"></span>
            <button class="btn btn-default btn-sm" type="submit">Apply</button>
        </div>
        <div class="col-sm-4">
            <label asp-for="NumberOfLogs"></label>
            <input asp-for="NumberOfLogs" />
            <span asp-validation-for="NumberOfLogs"></span>
            <button class="btn btn-default btn-sm" type="submit">Apply</button>
        </div>
    </form>
</div>
<h5> You can download your current graph by clicking on menu in top right corner of chart picture.</h5>
<div id="chartPictureContainer">
    <div id="chartContainer"></div>
</div>
@section Scripts
    {
    <script>
        var data = [];
        var serverData = @ViewBag.Data;

        for (var index = 0; index < serverData.length; index++) {
            data[index] = {
                x: new Date(serverData[index].logDate),
                y: serverData[index].weightValue
            }

        }

        $(document).ready(function () {



            var options = {
                title: {
                    text: "@ViewBag.Title"
                },
                animationEnabled: true,
                exportEnabled: true,
                axisY: {
                    title: "Weight (in kg)",
                    includeZero: false
                },
                axisX: {
                    title: "Date"
                },
                data: [
                    {
                        type: "spline",
                        dataPoints: data
                    }
                ]
            };
            $("#chartContainer").CanvasJSChart(options);

        });
    </script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.canvasjs.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    </environment>
}